extends ../webpay_plus/template
block step
  .row
    .col.m4
      h5 Petición
      p 
        | Para capturar una transacción necesitaremos el Token, Orden de compra, Código de 
        | autorización y monto a capturar. Se hace de la siguiente manera.
    .col.m8
      pre.z-depth-2
        code.js
          | const options = new Options(IntegrationCommerceCodes.ONECLICK_MALL_DEFERRED, IntegrationApiKeys.WEBPAY, Environment.Integration);
          | const captureResponse = await (new Oneclick.MallTransaction(options)).capture(
          |   commerceCode,
          |   childBuyOrder,
          |   authorizationCode,
          |   captureAmount
          | );
  .row
    .col.m8
      pre.z-depth-2
        code.json= JSON.stringify(viewData.captureResponse, null, ' ')
    .col.m4
      h5 Respuesta
      p 
        | Transbank contestará con lo siguiente.
        | Debes guardar esta información, lo <strong>único</strong> que debes validar es 
        | que <code>response_code</code> sea igual a cero.
block actions
  .row
    .col.m12
      h5 Otras utilidades
      p 
        | Luego de autorizada la transacción puedes Reembolsar (reversar o anular) el 
        | pago dependiendo de ciertas condiciones comerciales. También puedes consultar el estado
        | de la transacción hasta 7 días después de realizada.
  .row
    .col.m6
      form(action="/oneclick_mall_deferred/status", method="post")
        input(type="hidden" value=viewData.buyOrder, name="buy_order")
        button(type="submit").btn.waves-effect.waves-light.pink.white-text Consultar Estado
    .col.m6
      form(action="/oneclick_mall_deferred/refund", method="post")
        button.btn.waves-effect.waves-light.pink.white-text(type="submit") Reembolsar
        .input-field(style="margin-top: 25px")
          input(type="text", name="buy_order", value=viewData.buyOrder)
          label(for="buy_order") Orden de compra:
        .input-field(style="margin-top: 25px")
          input(type="text", name="child_buy_order", value=viewData.childBuyOrder)
          label(for="buy_order") Orden de compra tienda hija:
        .input-field(style="margin-top: 25px")
          input(type="text", name="commerce_code", value=viewData.commerceCode)
          label(for="commerce_code") Código de Comercio:
        .input-field(style="margin-top: 25px")
          input(type="number", name="amount", value=viewData.captureAmount)
          label(for="amount") Monto a reembolsar: