extends template

block step
  .row
    .col.m5
      h5 Petición
      p Para comenzar debes importar <code>Oneclick</code> y luego comenzar una inscripción
    .col.m7
      pre.z-depth-2
        code.js
          | const Oneclick = require('transbank-sdk').Oneclick; // CommonJS 
          | import { Oneclick } from 'transbank-sdk'; // ES6 Modules
          | const { Options, IntegrationApiKeys, Environment, IntegrationCommerceCodes } = require("transbank-sdk"); // CommonJS 
          |
          | // Es necesario ejecutar dentro de una función async para utilizar await
          | const options = new Options(IntegrationCommerceCodes.ONECLICK_MALL_DEFERRED, IntegrationApiKeys.WEBPAY, Environment.Integration);
          | const startResponse = await (new Oneclick.MallInscription(options)).start(
          |   userName, 
          |   email, 
          |   responseUrl
          | );
  .row
    .col.m8
      pre.z-depth-2
        code.json= JSON.stringify(viewData.startResponse, null, ' ')
    .col.m4
      h5 Respuesta
      p Una vez iniciada la inscripción, estos serán los datos de respuesta
  .row
    .col.m2
      h5 Por último
      p Debes utilizar estos datos para crear un formulario
    .col.m10
      pre.z-depth-2
        code.html
          | #{'<form action="' + viewData.startResponse.url_webpay + '" method="POST">'}
          | #{'  <input type="hidden" name="TBK_TOKEN" value="' + viewData.startResponse.token + '"/>'}
          br
          | #{'   <input type="submit" value="Inscribir"/>'}
          br
          | #{'</form>'}
  .row
    .col.m12
      h4 Ejemplo
  .row
    .col.m6
      h5 Iniciamos la inscripción
      p Usando los siguientes datos
      table
        thead
          tr
            th Campo
            th Valor
        tbody
          tr
            td
              strong Nombre de Usuario (userName)
            td #{viewData.userName}

          tr
            td
              strong Email
            td #{viewData.email}
          tr
            td
              strong URL de respuesta (responseUrl)
            td #{viewData.responseUrl}
    .col.m6
      h5 Por último
      p
        | Con la respuesta del servicio creamos el formulario, para efectos del ejemplo 
        | haremos el campo <code>TBK_TOKEN</code> visible
      .card-panel
        form(action=viewData.startResponse.url_webpay, method="POST", id="startForm")
          p Formulario de redirección
          br
          .input-field
            input(type="text", name="TBK_TOKEN", value=viewData.startResponse.token)
            label.text-dard.text-lighten-2(for="TBK_TOKEN") Token
          .input-field.white-text
            button.waves-effect.waves-light.btn.pink.white-text(type="submit") Inscribir

  .fixed-action-btn
    a.btn-floating.btn-large.pink(onclick="submitFAB();")
      i.large.material-icons navigate_next
  script.
    function submitFAB(){
      document.getElementById('startForm').submit();
    }
    window.localStorage.setItem('username', '#{viewData.userName}');
